[Unit]
Description=DDEV CLI Manager Autostart
After=network.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/ddev-clim autostart
RemainAfterExit=yes

[Install]
WantedBy=default.target
